* {
    position: relative;
    background-color: #1D262D;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* menu */
nav ul {
    display: flex;
    justify-content: center;
}

@media(max-width: 850px) {
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        text-align: center;
    }
}

/* @media(max-width: 700px) {
    main {
        margin: auto;
    }
} */

header ul li {
    padding: 20px;
    transition: 5s liner;
    list-style: none;
    font-size: 150%;

}

a {
    text-decoration: none;
    transition: .5s linear;
    color: rgb(134, 230, 198);
}

a:hover {
    background: purple;
    font-size: 120%;
}

/* img */
.div-img-my-photo {
    display: flex;
    justify-content: center;
}

.my-photo {
    height: 45%;
    width: 45%;
    border-radius: 5%;
    margin-top: 1%;
}

@media(min-width: 500px) {
    .my-photo {
        width: 200px;
        height: 250px;
    }
}

/* h1 */
.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    /* margin: -1px; */
}

.text-front {
    font-size: 230%;

}

h2 {
    text-align: center;
}

/* section */
section {
    margin-top: 40%;
    font-size: 190%;
}

.first-section {
    margin-top: 1%;
}

/* code */
.my-code {
    font-family: 'Courier New', Courier, monospace
}

/* footer */
footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 150%;
}


li.my-github a {
    position: absolute;
    margin-top: 75px;
}