* {
    position: relative;
    background-color: #1D262D;
    color: aliceblue;
}

nav ul {
    display: flex;
    justify-content: flex-end;

}

@media(max-width: 700px) {
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        text-align: center;
    }
}

header ul li {
    padding: 20px;
    transition: 5s liner;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

header a {
    text-decoration: none;
    transition: .5s linear;

}

header a:hover {
    background: purple;
    font-size: 120%;
}